.product {
    display: flex;
}

.image-container {

width: 49vw;
height: 50vh;
position: relative;
}

.product-image {
    width: 10vw;
    height: auto;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}

.data-container {

width: 49vw;
height: 50vh;
}