.product-section {
display: block;
}


.product {
  display: flex;
}

.image-container {
  width: 49vw;
  height: 50vh;
  position: relative;
}

.product-image {
  width: 10vw;
  height: auto;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

.data-container {
  width: 49vw;
  height: 50vh;
}

.related-product-card {
  width: 300px;
  margin-top: 2.5rem;
  padding: 16px;
  background: #fff;
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}






.related-product-content {
    display: flex;
    flex-direction: column;
    padding: 60px;
    align-items: center;
}

.related-title {
    font-size: 28px;
    font-weight: 800;
    color: #7596e7;
}

.related-products {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
    padding-top: 60px;
    flex-wrap: wrap;
}



.related-product-image {
    height: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.related-product-image img{
    max-width: 70%;  
    object-fit: contain;
}

.related-product-info {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}




footer { 
  position: relative;
  bottom: 0;
  margin-top: 2.5rem;
  width: 100%;
  height: 2.5rem;
  color: #030303;
  text-align: center;
  
}

